<div class="flex flex-row justify-between gap-10">
    <div class="w-2/12">    
        <div class="border-4 rounded-lg shadow-md">
            <p class="text-xl font-bold text-center mt-8">My Favorite Subject</p>
              <app-sidebar (subjectClicked)="getClickSubject($event)" [subject_list]="subject_list" ></app-sidebar>
        </div>
        <div class="m-10">
            <button (click)="onLogin()" class="bg-red-600 w-32 rounded-lg text-white m-2 p-3 font-bold">Logout</button>
        </div>
    </div>

    <div class="w-10/12 border-4 rounded-lg shadow-md">
        <div>
            <app-content [getSubject]= "Default" ></app-content>
        </div>

    </div>
</div>