<div class="container py-10 px-10 mx-0 min-w-full h-[680px] bg-pink-400 " *appLoginLogout="buttonLogin">
  <p class="text-center mt-48 py-2 px-4 text-2xl font-bold">Welcome to New Angular Homework! </p>
  <p class="text-center py-2 px-4 text-2xl font-bold">Please log in to see the content inside.</p>
  <div class="flex justify-center ">
    <button (click)="clickLogin()" class="bg-purple-900 text-white hover:bg-blue-400 font-bold py-2 px-4 rounded items-center">Login</button>
  </div>
</div>

<app-parent *appLoginLogout="!buttonLogin" (clickLogin)="clickLogin()"></app-parent>