<div class="m-5">
    <p class="text-2xl font-bold" >{{getSubject[0].subjectName}}</p>
    <p>{{getSubject[0].description}}</p>

    <div class="flex flex-row gap-10 justify-between mt-10">
        <div>
            <div class="text-xl font-bold">We invest in the world's potential</div>
            <div class="mt-10">
                <div class="flex flex-row">
                    <img src="https://media.istockphoto.com/id/1205148147/vector/checkmark-icon-check-mark-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=OybmJBTh6t2B9N6B2k3vSPjcDFmqG9rFrRvTI42jKFA=" class="w-10 h-10" alt="cat"/>
                    <p class="mt-2">Dynamic reports and dashboards</p>
                </div>
                <div class="flex flex-row">
                    <img src="https://media.istockphoto.com/id/1205148147/vector/checkmark-icon-check-mark-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=OybmJBTh6t2B9N6B2k3vSPjcDFmqG9rFrRvTI42jKFA=" class="w-10 h-10" alt="cat"/>
                    <p class="mt-2">Templates for everyone</p>
                </div>
                <div class="flex flex-row">
                    <img src="https://media.istockphoto.com/id/1205148147/vector/checkmark-icon-check-mark-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=OybmJBTh6t2B9N6B2k3vSPjcDFmqG9rFrRvTI42jKFA=" class="w-10 h-10" alt="cat"/>
                    <p class="mt-2">Development workflow</p>
                </div>
                <div class="flex flex-row">
                    <img src="https://media.istockphoto.com/id/1205148147/vector/checkmark-icon-check-mark-vector-isolated-illustration.jpg?s=612x612&w=0&k=20&c=OybmJBTh6t2B9N6B2k3vSPjcDFmqG9rFrRvTI42jKFA=" class="w-10 h-10" alt="cat"/>
                    <p class="mt-2">Limitiess busines automation</p>
                </div>
            </div>
        </div>
        <div>
            <img src="../../../assets/images/{{getSubject[0].thumbnail}}" class="w-[500px] h-[500px]"/>
        </div>
        
    </div>


</div>

