<div class="flex flex-cols">
    <div class="m-10">
        <ng-container *ngFor=" let subject of subject_list | sortCharater ">
            <button (click)="chooseSub(subject.subjectName)" class="bg-slate-300 m-2 rounded-lg p-3 w-32">
                <div class="flex flex-row gap-2">
                    <div>
                        <img src="../../../assets/images/{{subject.thumbnail}}" class="w-5 h-5" />
                    </div>
                    <div>
                        {{subject.subjectName}}
                    </div>
                </div>
            </button>
        </ng-container>
    </div>
</div>